<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" >
    <Properties>
        <Property name="logFilePath">logs</Property>
        <Property name="logFileName">demo-log-io</Property>
    </Properties>
    <Appenders>
        <Console name="c1" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </Console>
        <!--Routing 定义一个可以分发日志事件到不同到appender的路由appender-->
        <!-- Routes 定义分发判断值来自怎样的表达式，$${ctx:seedName}指从ThreadContext中取出key为seedName的值，然后按顺序判断每个Route-->
        <!--  Route中定义key=xxx，来指定某个value到那个具体的appender；如果不指定key，则所有的都会接受，一般放在最后-->
        <Routing name="r1">
            <Routes pattern="$${ctx:seedName}">
                <Route key="$${ctx:seedName}">
                    <RollingFile name="rf1" fileName="${logFilePath}/${logFileName}.default.json.log"
                                 filePattern="${logFilePath}/back1/$${date:yyyy-MM}/info-default-%d{yyyy-MM-dd}-%i.json.log">
                        <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="ACCEPT"/>
                        <PatternLayout pattern='{"logDetail":{"logTime":"%d{HH:mm:ss:SSS}", "ctxName":"default", "level":"%p", "location":"%l", "content":"%m"}}%n'/>
                        <Policies>
                            <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                            <SizeBasedTriggeringPolicy size="300 KB"/>
                        </Policies>
                        <DefaultRolloverStrategy max="20"/>
                    </RollingFile>
                </Route>
                <Route>
                    <!--注意在这里面使用 ${ctx:XXX}, 而不是 $${ctx:XXX}-->
                    <RollingFile name="rf2" fileName="${logFilePath}/${logFileName}.${ctx:seedName}.json.log"
                                 filePattern="${logFilePath}/back2/$${date:yyyy-MM}/info-${ctx:seedName}-%d{yyyy-MM-dd}-%i.json.log">
                        <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="ACCEPT"/>
                        <PatternLayout pattern='{"logDetail":{"logTime":"%d{HH:mm:ss:SSS}", "ctxName":"${ctx:seedName}", "level":"%p", "location":"%l", "content":"%m"}}%n'/>
                        <Policies>
                            <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                            <SizeBasedTriggeringPolicy size="300 KB"/>
                        </Policies>
                        <DefaultRolloverStrategy max="20"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="c1"/>
            <appender-ref ref="r1"/>
        </root>
    </loggers>
</Configuration>